$primary: #1a568b; // 
$secondary: #FDF5E6; // Old Lace / Warm Cream background
$accent: #122a40; // 
$text-dark: #2C2C2C; // Soft Charcoal
$text-light: #b8cee1;
$white: #eeeeee;
$gray-light: #E8E8E8;
$gradient-light:#548ab9;
$gradient-dark:#254158;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --text-dark: #{$text-dark};
  --text-light: #{$text-light};
  --white: #{$white};
  --gray-light: #{$gray-light};
}
